.QueryPage h1 {
  font-size: 20px;
}

.QueryPage pre {
  background-color: #F9F9F9;
  border: 1px solid #CCC;
  padding: 10px;
}

.QueryPage table {
  border-collapse: collapse;
}

.QueryPage table td,
.QueryPage table th {
  padding: 10px;
  border: 1px solid #CCC;
}
