<!DOCTYPE html>
<html>
<head>
<title>BdashServer</title>
<%= stylesheet_link_tag 'application' %>
</head>
<body>
<% if @current_user %>
Hello <%= @current_user.name %>
<% else %>
<a href="/auth/google">Login with Google</a>
<% end %>
<%= yield %>
</body>
</html>
